.nav-item {
	margin-left: 5px;
	margin-right: 5px;
}

header.masthead {
  position: relative;
  background-color: grey;
  background: url('https://cdn.vox-cdn.com/thumbor/Pkmq1nm3skO0-j693JTMd7RL0Zk=/0x0:2012x1341/1200x800/filters:focal(0x0:2012x1341)/cdn.vox-cdn.com/uploads/chorus_image/image/47070706/google2.0.0.jpg') no-repeat center center;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

footer.footer {
  width: 100%;
  padding-top: 4rem;
}

.centerit {
	 position: relative;
	 top: 50%;
	 -webkit-transform: translateY(-50%);
	 -ms-transform: translateY(-50%);
	 transform: translateY(-50%);
}
